<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37342556-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>

</head>
<body>
 <div class="navbar">
   <div class="navbar-inner">
     <a class="brand" href="/">SNCB Leak Check</a>
     <ul class="nav">
       <li class="inactive"><a href="/">Home</a></li>
     </ul>
   </div>
 </div>

 <div class="container">
   
   <div class="hero-unit">
     <h1>You haven't been exposed</h1>
     <p>Make sure you fill both first name and last name.</p>
     
     <form class="form-inline" action="passenger">
       <input type="text" class="input" required="required" name="firstname"placeholder="First Name">
       <input type="text" class="input" required="required" name="lastname" placeholder="Lastname">
       <button type="submit" class="btn">Search</button>
     </form>
   </div><!-- .hero-unit -->

 </div><!-- .container -->
</body>
</html>